<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.jxust.repository.ResourceDAO">
    <insert id="addResource" parameterType="Resource">
        INSERT INTO resource (name, categoryId, link, uploadTime) VALUES (#{name}, #{categoryId}, #{link}, #{uploadTime})
    </insert>
    <update id="alterResource" parameterType="Resource">
        UPDATE resource
        <set>
            <if test="name != null"> name = #{name} ,</if>
            <if test="categoryId != null"> categoryId = #{categoryId},</if>
            <if test="link != null"> link = #{link},</if>
            <if test="uploadTime != null"> uploadTime = #{uploadTime}</if>
        </set>
        WHERE id = #{id}
    </update>
    <select id="specificQuery" resultType="Resource">
        SELECT id, name, categoryid, link, uploadTime FROM resource WHERE categoryid = #{categoryId}
    </select>
    <select id="blurQuery" resultType="Resource">
        <bind name="keyWordLike" value=" '%' + keyWord + '%' "/>
        SELECT * FROM resource WHERE name LIKE #{keyWordLike}
    </select>
    <select id="getAllResources" resultType="Resource">
        SELECT * FROM resource
    </select>
    <select id="getResourceById" resultType="Resource">
        SELECT * FROM resource WHERE id=#{resourceId}
    </select>
    <delete id="deleteResourceById">
        DELETE FROM resource WHERE id = #{resourceId}
    </delete>
</mapper>

